@charset "UTF-8";
.body{
	width : 1200px;
	margin : 0 auto;
	min-height: 100%;
}
.totalbody{
	width : 100%;
	min-height: 100%;
	margin : 0 auto;
	display: inline-block;
	border: 1px solid #F6F6F6;
	background-color: #FFFFF6;
}
.title{
	width : 100%;
	background-color: #333333;
	color : #e6e6e6;
}
.title>h1, .title>span{
	display : inline-block;
}
.date{
	float: right;
}
#anySeat, span>input{
	color : #CA4D10;
	font-weight: bold;
}

.seat{
	width : 600px;
	margin: 0 auto;
	margin-top : 20px;
}
.stage{
	height : 30px;
	margin : 0 auto;
	line-height: 25px;
	text-align: center;
	background: url("http://img.cgv.co.kr/CGV_RIA/Ticket/image/reservation/step2/screen_bg.png");
}
.stage>span{
	font-weight: bolder;
}
.seat_contents{
	margin : 0 auto;
	margin-top : 20px;
	margin-bottom : 20px;
}
.seat_span{
	display : block;
	font-size : 18px;
	width: 20px;
	height: 20px;
	line-height: 1;
	text-align: center;
	color : #fff;
	background-color: #666;
	cursor: pointer;
}
input{
	border : 0px;
	background: none;
}
span>input{
	width : 30px;
	height: 21px;
	font-size : 17px;
	text-align: right;
}
td>input{
	border-top : 1px solid #d4d3c9;
	width : 25px;
	height: 20px;
	font-weight: bolder;
	font-size: 15px;
}
#btn_div{
	text-align: center;
}
button{
	background: url(http://img.cgv.co.kr/CGV_RIA/Ticket/image/reservation/tnb/tnb_buttons.png) no-repeat;
	width : 220px;
	height: 108px;
	background-position: 0 -550px;
	border : none;
	margin : 0 auto;
	cursor : pointer;
}